{% extends 'core/base.html' %}
{% load static %}
{% block title %}Modelo{%endblock%}
{% block content %}
<br>
<div>
          <table>
                <tr>
                    <td>&nbsp;&nbsp;<a class="btn btn-primary btn-circle"  
                    onclick="return abrir_modal('{% url 'core:createModelo' %}')" 
                    href=""><span class="fa fa-plus-circle">
                    </span> Nuevo modelo
                    </a></a> </td>
                </tr>        
            </table>
        </div>
<br>
<div class="panel panel-default">
<div class="panel-heading"><center><h4>Modelos disponilbes</h4></center></div><br>
<table id="myTable" class="display nowrap" style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th>Nombre modelo</td>
            <th>Marca</th>              
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for modelo in object_list%}
        <tr>
            <td>{{ modelo.nombreModelo }}</td>  
            <td>{{ modelo.marca }}</td>
            <td>            
                <a onclick="return abrir_modal ('{% url 'core:updateModelo' modelo.pk %}')"  class="btn btn-primary btn-circle" href="">
                                <span class="fa fa-edit"></span>
                            </a>               
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay registros de Modelos</h1>
        {% endif %}
    </tbody>
   
</table>
</div>

{% endblock%}